// Fonts
/*
@mixin fontBase-400 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}
*/

/*
Connect the mixin as in the example:

body {
   @include fontBase-400;
}
*/



// if you need to have a container larger than the standard one (1320px), you can create it through a mixin:
/*
@mixin container-custom($width) {
  width: 100%;
  max-width: $width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
*/

// Connect the mixin as in the example:
/*
.container-1430 {
  @include container-custom(1430px);
}

.container-1630 {
  @include container-custom(1630px);
}
*/


