$accentColor: #f2a531;
$greyColor100: #f4f4e7;
$greyColor500: #667085;
$whiteColor: #fdfdf0;
$defaultColor: #0e0d0d;
$blackColor: #000000;

/*
Connect the variable as in the example:

body {
	color: $whiteColor;
}
*/
